body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #4a5568;
}

.weather-container {
    text-align: center;
    background-color: #69aedc;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.weather-icon {
    width: 100px;
    height: 100px;
}

.temp {
    font-size: 50px;
    color: #728dbd;
}

.weather-desc {
    font-size: 25px;
    color: #84aaf4;
}

.location {
    font-size: 20px;
    color: #3aa1e5;
}